@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap");
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: url(images/pattern-hills.svg) no-repeat 85% 100%, url(images/bg-stars.svg);
  background-color: #1e1f29;
}

body main {
  width: 100vw;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (1fr)[4], 50px;
      grid-template-rows: repeat(4, 1fr), 50px;
      grid-template-areas: "heading" "time" " . " "icons";
}

body main h2 {
  grid-area: "heading";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-family: "Red Hat Text", sans-serif;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 5px;
  color: white;
}

body main .countdown {
  font-family: "Red Hat Text", sans-serif;
  list-style: none;
  padding: 0;
}

body main .time {
  grid-area: "time";
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas: "num1 num2 num3 num4" "d h m s";
  row-gap: 2%;
  -webkit-column-gap: 5%;
          column-gap: 5%;
  justify-items: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10%;
  margin-left: 7%;
  margin-right: 7%;
  text-transform: uppercase;
  font-family: "Red Hat Text", sans-serif;
  font-size: 0.5rem;
  color: #8486a9;
  list-style: none;
  padding: 0;
}

body main .time .date {
  padding-top: 20%;
  letter-spacing: 4px;
  text-align: center;
}

body main .time .number {
  font-size: 2rem;
  letter-spacing: 4px;
  padding: 10%;
  color: #fb6087;
  text-align: center;
  border: 2px solid #343650;
  border-radius: 10%;
  background-color: #343650;
  -webkit-box-shadow: 0px 10px 0px #191a24;
          box-shadow: 0px 10px 0px #191a24;
}

body main .time .num1 {
  grid-area: "num1";
}

body main .time .num2 {
  grid-area: "num2";
}

body main .time .num3 {
  grid-area: "num3";
}

body main .time .num4 {
  grid-area: "num4";
}

body main .time .d {
  grid-area: "d";
}

body main .time .h {
  grid-area: "h";
}

body main .time .m {
  grid-area: "m";
}

body main .time .s {
  grid-area: "s";
}

body .icons {
  grid-area: "icons";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .icons a {
  padding: 5%;
}

body .icons a svg {
  fill: #8385A9;
}

body .icons a svg:hover {
  fill: #fb6087;
}

.attribution {
  grid-area: "attribute";
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1200px) {
  body main .time {
    justify-items: center;
    row-gap: 10%;
  }
  body main .time .number {
    width: 70%;
    font-size: 4rem;
  }
  body main .time .date {
    font-size: 1rem;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    padding: 5%;
  }
  body main .icons {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

@media screen and (min-device-width: 1200px) {
  body main h2 {
    padding-top: 5%;
  }
  body main .time {
    margin: 5%;
    justify-items: center;
    -webkit-column-gap: 2%;
            column-gap: 2%;
  }
  body main .time .number {
    width: 40%;
    font-size: 4rem;
  }
  body main .time .date {
    font-size: 1rem;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    padding: 5%;
  }
  body main .icons a {
    padding: 2%;
  }
}
/*# sourceMappingURL=styles.css.map */