//Font Styling
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');
$bg-color: hsl(235, 16%, 14%);
$white: hsl(0, 0%, 100%);
$num-color: hsl(345, 95%, 68%);
$card-color: hsl(236, 21%, 26%);
$time-color: hsl(237, 18%, 59%);
$shadow: hsl(234, 17%, 12%);
$font: 'Red Hat Text', sans-serif;
$font-size: 14px;

//Mobile Styles
body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: url(images/pattern-hills.svg) no-repeat 85% 100%, url(images/bg-stars.svg);
    background-color: $bg-color;

    main{
        width: 100vw;
        height: 100vh;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr), 50px;
        grid-template-areas: 
            "heading"
            "time"
            " . "
            "icons"
        ;
    
        h2{
            grid-area: "heading";
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-end;
            font-family: $font;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 5px;
            color: $white;
        
        }
    
        .countdown{
            font-family: $font;
            list-style: none;
            padding: 0;
        }
        .time{
            grid-area: "time";
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-template-areas: 
                "num1 num2 num3 num4"
                "d h m s"
            ;
            row-gap: 2%;
            column-gap: 5%;
            justify-items: stretch;
            align-items: center;
            margin-top: 10%;
            margin-left: 7%;
            margin-right: 7%;
            
            text-transform: uppercase;
            font-family: $font;
            font-size: 0.5rem;
            color: $time-color;
            list-style: none;
            padding: 0;
            .date{
                padding-top: 20%;
                letter-spacing: 4px;
                text-align: center;
            }
            .number{
                font-size: 2rem;
                letter-spacing: 4px;
                padding: 10%;
                color: $num-color;
                text-align: center;
                border: 2px solid $card-color;
                border-radius: 10%;
                background-color: $card-color;
                box-shadow: 0px 10px 0px $shadow;
            }
            .num1{
                grid-area: "num1";
            }
            .num2{
                grid-area: "num2";
            }
            .num3{
                grid-area: "num3";
            }
            .num4{
                grid-area: "num4";
            }
            .d{
                grid-area: "d";
            }
            .h{
                grid-area: "h";
            }
            .m{
                grid-area: "m";
            }
            .s{
                grid-area: "s";
            }
        }
        
        }
        
        .icons{
            grid-area: "icons";
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            a{
                padding: 5%;

                svg{
                    fill: #8385A9;
                }
                svg:hover{
                    fill:$num-color;
                }
            }

        
        }
    }
    
    .attribution{
        grid-area: "attribute";
    }

//Media Queries
//Tablets
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1200px) {
    body{
        main{
            .time{
                justify-items: center;
                row-gap: 10%;
                .number{
                    width: 70%;
                    font-size: 4rem;
                }
                .date{
                    font-size: 1rem;
                    align-self: start;
                    padding: 5%;
                }
            }


            .icons{
                align-items: flex-end;
            }
    
        }

    }
  }

//Laptop and beyond
@media screen 
  and (min-device-width: 1200px) {

body{
        main{
            h2{
                padding-top: 5%;
            }
    
            .time{
                margin: 5%;
                justify-items: center;
                column-gap: 2%;
                .number{
                    width: 40%;
                    font-size: 4rem;
                }
                .date{
                    font-size: 1rem;
                    align-self: start;
                    padding: 5%;
                }
            }
    

            .icons{
                a{
                    padding: 2%;
                }
            }
        }
    }
}